.container{
    margin-inline: auto;
    display: block;
    display: flex;
    justify-content: center;
    width: 100%;
}

table{
    margin-top: 2rem;
    border: 1px solid #fff;
}

td, th{
    border: 1px solid #fff; 
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 10px;
}

th{
    background-color: #3CC18C;
    color: #fff;
    padding-block: 5px;
}

th:nth-of-type(2),
th:nth-of-type(3),
th:nth-of-type(4)
{
    width: 140px;
}

th:nth-of-type(1),
th:nth-of-type(5)
{
    width: 50px;
}

th:nth-of-type(7)
{
    width: 70px;
}



label.file, button.add{
   
    display: block !important;
    background-color: #fff;
    border: 0;
    text-align: center;
    opacity: .5;
    cursor: pointer;
    padding-block: 2px;
    transition: .5s all;
}

button.add{
    width: 100%;
    height: 100%;
  padding-block: 25px;
}

button.add img{
    width: 100px !important;
}


:is(label.file, button) img{
    width: 20px;
}


:is(label.file, button):hover{
    opacity: 1;
}


form{
    z-index: 900;
    position: absolute;
    width: 100%;
    height: 100%;
    

}

fieldset{
    width: 40%;
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

legend{
    margin-inline: auto;
}

a.close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 10px;
    margin-right: 5px;
    margin-top: -5px;
    cursor: pointer;
    transition: .5s all;
}

a.close:hover{
    background-color: #fff;
    color: #000;
}

[type="checkbox"], label.file
{
    width: 70px;
}

button[type="submit"]
{
    padding: 15px 5px;
    background-color: #3CC18C;
    color: #fff;
    border: 1px solid;
    width: 100%;
    font-size: 16px;
    transition: .5s all;
}

button[type="submit"]:hover{
    background-color: #33a879;
    cursor: pointer;
}

.update, .delete{
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 100%;
    transition: .5s all;
}

:is(.update, .delete):hover
{
    background-color: #d8eee5;
    cursor: pointer;
}

tbody tr:hover
{
    cursor: pointer;
    background-color: rgb(98, 212, 98);
}

tr[class="extinto"]
{
    background-color: #d4dddd;
}

#img-container {
    width: 150px;
    aspect-ratio: 1;

}

#img-container img{
    width: 100%;
    height: 100%;
    
}